.head {
    background-color: black;
    height: 15vw;
    text-align: center;
    margin-bottom: 20px;
    h1{
        padding-top: 1em;
        letter-spacing: 0.15em;
        // text-transform: uppercase;
        color: blanchedalmond;
        font-size: 3vw;
    }
    .headerInfo{
        color: blanchedalmond;
        font-style: italic;
        font-size: 1.2vw;
        letter-spacing: 0.25em;

    }
    a{
        color: white;
        text-decoration: none;
    }
  }
  .aboutMe{
      color: white;
      display: block;
      width: 40%;
      margin-left: 40px;
      p{
          font-size: 2vh;
      }
  }
  