
.app{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 50vh;

}



.profilePic{
    width: 50%;
    max-width: 400px;
    height: 400px;
    margin: 20px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;  
}

.infoContainer{
    height: auto;
    display: flex;
    justify-content: center;
}
.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
  transform: scale(1.03); 
}